.lasagna,
.omelette,
.pancakes {
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 28px;
}

.lasagna {
  background-color: red;
}

.omelette {
  background-color: yellow;
}
.pancakes {
    background-color: black;
    color: white;
  }
body{
    background-image: url("https://thumbs.dreamstime.com/z/blank-recipe-book-table-wooden-47865943.jpg");
}
